.cart {
    width: 30vw;
    height: 50px;
    background: green;
    &__product {
        display: flex;
        align-items: center;
        &--close {
            margin-left: 20px;
            font-size: 30px;
        }
    }
}