@import '../../settings.scss';

.cart {
    width: 0px;
    height: 150px;
    background: green;
    position: fixed;
    right: 0;
    top: 80px;
    &__product {
        @include flexbox;
        @include align-items(center);
        &--close {
            margin-left: 20px;
            font-size: 30px;
            color: $warning;
            cursor: pointer;
            &:hover {
                transform: rotate(90deg);
                transition: all .5s ease-in;
            }
        }
    }
    &__active {
        width: 30vw;
        height: 150px;
        top: 70px;
        right: 0;
        padding: 20px 30px;
        background: green;
    }
}

.cart__icon {
    width: 60px;
    height: 50px;
    position: fixed;
    top: 80;
    right: 0;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    & img {
        width: 100%;
        cursor: pointer;
    }
    &__active {
        transform: translateX(calc(-25vw - 40px));
    }
}

