@import '../../settings.scss';

.calc {
    &--icon {
        height: 70px;
        cursor: pointer;
    }
    &__box{
        @include flexbox;
        // @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        width: 300px;
        height: 300px;
        background: $thirdBg;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        &__main{
            margin-top: 135px; 
            margin-bottom: 10px;
            & input {
                width: 100px;
                margin-left: 20px;
                height: 30px;
                border: none;
                outline: none;
            }
            & button {
                height: 30px;
                border: none;
                outline: none;
                background: $button;
                padding: 0 5px;
                cursor: pointer;
            }
        }
        &__close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &:hover {
                transform: rotate(90deg);
                transition: all .5s ease; 
            }
        }
    }
    &__modalOverlay {
        background: black;
        opacity: .7;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
    }
}