@import '../../settings.scss';

.sortFilter {
    @include flexbox;
    @include justify-content(space-around);
    @include align-items(center);
    height: 26px;
    & label {
        & select {
            width: 140px;
            border-radius: 5px;
            border: 1px solid $thirdBg;
            margin-left: 5px;
        }
    }
}


@media screen and (max-width: 600px) {
    .sortFilter{
        @include flex-direction(column);
        & p {
            margin: 10px 0px;
        }
    }
}