@import '../../settings.scss';

.personalPage{
    margin-top: 30px;
    text-align: center;
    &__btn {
        @include btnBig;
        margin-top: 20px;
    }
    &__promo {
        margin: 20px 0 40px;
        font-weight: bold;
        font-size: 40px;
    }
    &__greeting {
        margin-top: 20px;
    }
}