@import '../../settings.scss';

.productInfo{
    @include flexbox;
    min-height: calc(100vh - 140px);
    &__left {
        width: 30vw;
        border-right: 1px solid $border;
        & h3 {
            text-align: center;
            margin: 20px 0px;
        }
        &__img {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            width: 350px;
            height: 250px;
            margin: 0 auto;
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        & span {
            display: block;
            width: 350px;
            margin: 20px;
        }
        &__descr {
            width: 350px;
            margin: 20px;
            padding-right: 5px;
        }
        &--link{
            background: $button;
            height: 40px;
            text-align: center;
            line-height: 2;
            font-size: 20px;
            color: $mainLink;
            font-family: 'Times New Roman', Times, serif;
        }
        &--link {
            display: inline-block;
            width: 80px;
            margin: 20px;
            text-decoration: none;
        }
        &__btn {
            @include btnBig;
        }
    }
   
}

@media screen and (max-width: 1200px) {
    .productInfo {
        &__left{
            &__img {
                width: 280px;
                height: 190px;
            }
            &__descr {
                width: 280px;
            }
            &__btn {
                width: 200px;
            }
            &--link {
                width: 60px;
                margin: 10px;
            }
        }
    } 
 }

 @media screen and (max-width: 980px) {
    .productInfo {
        @include flex-direction(column);
        width: 90vw;
        &__left {
            width: 100%;
            border-right: none;
            border: 1px solid red;
            &__mobile {
                @include flexbox;
            }
        }
    } 
 }

 @media screen and (max-width: 600px) {
    .productInfo {
        &__left {
            &__mobile{
                @include flex-direction(column);
                &__content{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    } 
 }

