@import '../../settings.scss';

.productInfo{
    @include flexbox;
    &__left {
        border-right: 1px solid gray;
        & h3 {
            text-align: center;
            margin: 20px 0px;
        }
        &__img {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            width: 350px;
            height: 250px;
            margin: 0 auto;
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        & span {
            display: block;
            width: 350px;
            margin: 20px;
        }
        &__descr {
            width: 350px;
            margin: 20px;
        }
        &--link {
            display: inline-block;
            background: $button;
            padding: 10px 20px;
            margin: 20px;
            font-size: 20px;
            text-decoration: none;
            color: $mainLink;
        }
    }
   
}
