.comment{
    border: 1px solid blue;
    width: 100%;
    & h3 {
        text-align: center;
        margin: 20px;
    }
    .form {
        div {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            & input, & textarea{
                width: 60%;
            }
        }
        & button {
            padding: 10px 20px;
            margin: 20px;
            outline: none;
            border: none;
            background: gray;
            font-size: 18px;
        }
    }
}