@import '../../settings.scss';

.like{
    @include flexbox;
    &__plus, &__minus, &__result {
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      width: 20px;
      height: 20px;
    }
    &__plus, &__minus{
      cursor: pointer;
      & img {
        width: 20px;
      }
    }
    &__minus{
      transform: rotate(180deg);
    }
    &__result{
      &--red{
        color: red;
      }
    }

  }