@import '../../settings.scss';

.auth{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    & span {
        margin-right: 40px;
        cursor: pointer;
    }
    & h3 {
        text-align: center;
    }
    &__form {
        width: 70vw;
        height: 70vh;
        background: $thirdBg;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &__box {
            border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &__input {
                width: 25vw;
                height: 30px;
                margin: 15px 15px 15px 0;
                border: 2px solid skyblue;
                padding-left: 10px;
                &--error{
                    border: 2px solid red;
                }
            }
            &--error{
                color: red;
            }
        }
    }
    & img {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
            transform: rotate(90deg);
            transition: all .5s ease; 
        }
    }
    &__modalOverlay {
        background: black;
        opacity: .7;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
    }
}

