@import '../../settings.scss';

.auth{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    & span {
        cursor: pointer;
        &:hover {
            color: $mainLinkHover;
        }
    }
    & h3 {
        text-align: center;
    }
    &__form {
        width: 70vw;
        height: 70vh;
        background: $thirdBg;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        &__box {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);
            &__flex{
                @include flexbox;
                @include justify-content(flex-start);
                @include align-items(center);
                width: 80%;
                & label {
                    display: inline-block;
                    width: 70px;
                }
            }
            &__input {
                width: 25vw;
                height: 30px;
                margin: 15px 15px 15px 0;
                border: 2px solid $mainBg;
                padding-left: 10px;
                &--error{
                    border: 2px solid $warning;
                }
            }
            &--error{
                color: $warning;
            }
        }
        & button {
            @include btnBig;
        }
    }
    & img {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        &:hover {
            transform: rotate(90deg);
            transition: all .5s ease; 
        }
    }
    &__modalOverlay {
        background: black;
        opacity: .7;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
    }
    & h3 {
        padding-top: 30px;
    }
}

