@import '../../settings.scss';

.product-item {
    width: 350px;
    height: 400px;
    border: 1px solid $border;
    margin-top: 20px;
    &__img {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        width: 200px;
        height: 200px;
        border: 1px solid $border;
        margin: 0 auto;
        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__info{
        @include flexbox;
        @include flex-direction(column);
        padding: 10px 20px;
        & span {
            margin: 5px 0;
        }
    }
    & a {
        display: block;
        text-align: center;
        width: 60%;
        margin: 30px auto 0 auto;
        font-size: 20px;
        font-weight: bold;
        color: $mainLink;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: $mainLinkHover;
        }
    }
    & h3 {
        text-align: center;
        margin: 10px 0;
    }
    &:hover{
        @include boxShadow;
    }
}