.comments {
    width: 40vw;
    padding: 10px 20px;
    &__text{
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
    }
}

@media screen and (max-width: 980px) {
    .comments {
        width: 60vw;
        margin: 0 auto;
    } 
 }