// переменные
$mainText: black; // цвет основного текста
$mainLink: black; // цвет ссылок
$mainLinkHover: white; // цвет ссылок при наведении
$border: black; // цвет границ
$warning: red; // цвет ошибок и закрытие кнопки в корзине

$mainBg: #3399cc; // цвет контента
$secondaryBg: #27ae60; // цвет футера и хэдера
$button: #786e6e; // цвет кнопок
$thirdBg: lightgray; // цвет авторизации, боди, комментарии, калькулятор, карзина 
$different: #8ff7c0; // цвет поиска



// миксины
@mixin flexbox {
    display: -webkit-box; 
    display: -moz-box; 		
    display: -ms-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  	display: flex; 
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

@mixin boxShadow{
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
} 

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin btnBig{
  width: 220px;
  height: 40px;
  background-color: $button;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  color: $mainLink;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
  border: none;
  cursor: pointer;
}