// переменные
$mainText: black; // цвет основного текста
$mainLink: black; // цвет ссылок
$mainLinkHover: white;
$border: black; // цвет границ

$mainBg: linear-gradient(90deg, #aea4e3, #d3ffe8); // цвет контента
$secondaryBg: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db); // цвет футера и хэдера
$button: linear-gradient(to top left, powderblue, pink); // цвет кнопок
$thirdBg: lightgray; // цвет авторизации, боди, комментарии, калькулятор 
$different: #8ff7c0; // цвет поиска



// миксины
@mixin flexbox {
    display: -webkit-box; 
    display: -moz-box; 		
    display: -ms-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  	display: flex; 
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

@mixin boxShadow{
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
} 

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

