@import '../../settings.scss';

.products{
    & h1{
        color: $mainText;
        text-align: center ;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__box {
        @include flexbox;
        @include justify-content(space-around);
        @include flex-wrap(wrap);
        padding: 20px 0;
    }
    &__loading{
        margin: 0 auto;
        height: calc(100vh - 70px);
    }
}