@import '../../settings.scss';

.products{
    border: 1px solid red;
    & h1{
        color: $mainText;
        text-align: center ;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &__box {
        @include flexbox;
        @include justify-content(space-around);
        @include flex-wrap(wrap);
        padding: 10px 0 20px 0;
    }
    &__loading{
        margin: 20px auto;
        height: calc(100vh - 70px);
        & h2 {
            margin-bottom: 20px;
        }
    }
}